/*----- Body -----*/
body {
    display: flex;
    flex-direction: column;
}
/* --------- Header ---------*/
header {
  background: #232323;
  
}
main  {
  display: flex;
  flex-direction: column;
}
main > h2 {
  color: #e91e63;
  font-family: 'Lato';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
/* ---------- Title animation ------------ */

* {
  margin: 0;
  padding: 0;
}
/* body, html {
   overflow: hidden;
} */
.container {
  /* width: 100%; */
  /* height: 100vh; */
  background: #232323;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > .box {
    width: 300px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container > .box > .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}
.container > .box > .title > .block {
    width: 0%;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
}
h1 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 32px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}
h1 > span {
    width:0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffb510;
    -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
    animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
}
.role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
}
.role > .block {
    width: 0%;
    height: inherit;
    background: #e91e63;
    position: absolute;
    animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
    display: flex;
}
.title-role {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: 'Lato';
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #ffb510;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #ffb510;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #ffb510;
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* @keyframes top {
  0% {
    opacity: 0;
     bottom: -80px
  }
  100% {
    opacity: 1;
     bottom: 0px

  }
}

@keyframes icon {
  0% {
    opacity: 0;
     transform: scale(0.0);
  }
   50% {
      opacity: 1;
     transform: scale(1.3) rotate(-02deg);
   }
  100% {
    opacity: 1;
     bottom: 0px;
  }
} */

/* ---------- Présentation ------------ */
.presentation {
  border-top: 2px solid #e91e63;
  background-color:#ffb510;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation > h2 {
  font-family: 'Poppins';
  background-color: #ffb510;
  position: relative;
  top: -20px;
  font-weight: bold;
  min-width: 350px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  border-top: 2px solid #e91e63;

}
.presentation > ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 4rem;
}

.presentation_button {
  display: flex;
  margin: 10px;
  height: 40px;
  width: 110px;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #232323;
  transition-property: border;
}

.presentation_button:hover {
  border: none;
}

.presentation > ul > a {
  text-decoration: none;
  color: white;
  font-family: 'Lato';
  font-size: smaller;
  transition-property: font-size;
  transition-duration: 1s;
}
.presentation > ul > a:hover {
  color: #e91e63;
  font-size: larger;
}

/* ------------ Competences -----------*/  
#competences {
  border-top: 2px solid #e91e63;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#competences > h2 {
  font-family: 'Poppins';
  background-color: white;
  position: relative;
  top: -20px;
  font-weight: bold;
  min-width: 350px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  border-top: 2px solid #e91e63;
  font-size: 20px;
}

table {
  table-layout: fixed;
  font-family: 'Lato';
  font-size: 1.3em;
  border-collapse: separate;
  border-spacing: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 4rem;
}

th {
  width : 140px;
}

.max_bar {
  background-color : lightgray;
  height: 25px;
  width : 100%;
  border-radius: 10px;
}

.progress_bar {
  height : 25px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.html > th {
  color: #8e44ad;
}
.css > th {
  color: #2980b9;
}
.bootstrap > th {
  color: #c0392b;
}
.php > th {
  color: #16a085;
} 
.symfony > th {
  color: #ffb510;
}
.javascript > th {
  color: #e91e63;
} 
.git > th {

} 

.html .progress_bar {
  background-color:#8e44ad;
  width: 90%;
}
.css .progress_bar {
  background-color:#2980b9;
  width: 50%;
}
.bootstrap .progress_bar {
  background-color: #c0392b;
  width: 60%;
}
.php .progress_bar {
  background-color:#16a085;
  width: 90%;
}
.symfony .progress_bar {
  background-color:#ffb510;
  width: 90%;
}
.javascript .progress_bar {
  background-color: #e91e63;
  width: 40%;
}
.git .progress_bar {
  background-color:#232323;
  width: 90%;
}
.bar {
  width : 75%;
  vertical-align:middle;
}
/* ----------- Soft-skills ----------- */

.soft_skills {
  background-color: #232323;
  border-top: 2px solid #e91e63;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.soft_skills > h2 {
  font-family: 'Poppins';
  background-color: #232323;
  color: white;
  position: relative;
  top: -20px;
  font-weight: bold;
  min-width: 350px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  border-top: 2px solid #e91e63;
  font-size: 20px;
}

/* Soft skills animation*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.soft_skills {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  height : 200px;
}

.text {
  width: 400px;

}

.text p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: white;
}

.word {
  position: absolute;
  width: 280px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  /* float: left; */
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.yellow {
  color: #ffb510;
}

.rose {
  color: #e91e63;
}

/* ----------- Projets ----------- */

.row {
  margin:0 20px 50px;
}
.card {
  border:2px solid #e91e63;
}
.card-title {
  color: #e91e63;
  font-family: 'Poppins';
}
.card-body {
  background-color: #ffb510;
}

#projets {
  border-top: 2px solid #e91e63;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#projets > h2 {
  font-family: 'Poppins';
  background-color: white;
  position: relative;
  top: -20px;
  font-weight: bold;
  min-width: 350px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  border-top: 2px solid #e91e63;
  font-size: 20px;
}

/* -------- Contacts ---------- */

#contacts {
  border-top: 2px solid #e91e63;
  background-color:#ffb510;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contacts > h2 {
  font-family: 'Poppins';
  background-color: #ffb510;
  position: relative;
  top: -20px;
  font-weight: bold;
  min-width: 350px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  border-top: 2px solid #e91e63;
  font-size: 20px;
}

/* Boutons de contacts */

.contact > ul {
  display: flex; 
  margin-bottom: 3em;
  padding-left: 0;
}
.contact > ul > a {
  background-color:#232323;
  border-radius: 50%;
  color:#ffb510; 
  margin: 10px;
}

.contact > ul > a:hover {
  background-color: #e91e63;
}
.contact > ul > a > li {
  padding: 10px 20px;
}
.contact > ul > a > li > i {
  font-size:2em; 
}
.contact > ul > a > li > i:hover {
  color: #ffb510;
}

/* -------- Footer ---------- */
footer {
  background-color: #232323;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer p {
  color: grey;
  margin-bottom: 0;
}